.jumbotron{
    background-color: rgb(123, 183, 187);
    color: white;
    margin-top: 80px;
}  
.brandName{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
a:link,:visited{
    color:rgb(48, 51, 104);
    text-decoration: none;
}
.hello h1{
    font-size: 30px;
    text-align:center;
}
.hello img{
    display:block; 
    margin-left:auto; 
    margin-right:auto;
    width: 60%;
    height: 60%;
}
#next_page{
    background-color: rgb(80, 155, 155);
    color: white;
    border: none;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 25px;
}
.navbar-dark{
    background-color: rgb(41, 103, 103);
}

.footer{
    padding-top:10px;
    margin-bottom: 0;
    
}

