.jumbotron{
    color: floralwhite;
    background-color: #9575cd;
    /* margin-top:8% */
}
.footer{
    background-color: #D1C4E9;
    padding-top: 5%;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}
.navbar-dark{
    background-color: #512D89;
}